﻿
@import "https://fonts.googleapis.com/css?family=Open+Sans:400,600,700";
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Questrial');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Orbitron');
/*'Gloria Hallelujah', cursive;  */
/*'Josefin Sans', sans-serif;*/
/*'Questrial', sans-serif;*/
/*'Comfortaa', cursive;*/
/*'Orbitron', sans-serif*/
/* =============================================================
   GENERAL STYLES
 ============================================================ */
body {
    font-family: 'Open Sans', sans-serif;
   
}
.pad-top {
    padding-top:60px;
}
.pad-top-more {
    padding-top:90px;
}
.text-center {
    text-align:center;
}
/*JUST ADDED PADDING IN SECTIONS OF TEMPLATE */
section {
    padding-top:50px;
}
/* ADDED PADDING IN NAVBAR */
.navbar {
    padding:25px;
     -webkit-transition: background .8s ease-out,padding .8s ease-out;
        -moz-transition: background .8s ease-out,padding .8s ease-out;
        transition: background .8s ease-out,padding .8s ease-out;
}

#nyancat {
  height:50px;
  padding-left: 9px;
  padding-bottom: 8px;
}

.navselect {
  font-family: 'Comfortaa', cursive;
}

/* CLASS FOR REMOVING PADDING IN NAVBAR*/
.navbar-pad-original {
      padding:5px;
}


/* =============================================================
   MESSAGE BOX (NEW)
 ============================================================ */

form.chat *{
  transition:all .5s;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
}

form.chat {
  margin:0;
  cursor:default;
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  top:0;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;   
}

form.chat span.spinner{
  -moz-animation: loading-bar 2s 1;
  -webkit-animation: loading-bar 2s 1;
  animation: loading-bar 2s 1;
  display: block;
  height: 2px;
  background-color:#2095FE;
  transition: width 0.2s;
  position:absolute;
  top:0; left:0; right:0;
  z-index:4
}

form.chat .messages{
  display:block;
  overflow-x: hidden;
  overflow-y: scroll;
  position:relative;
  height:90%;
  width:100%;
  padding:2% 3%;
  border-bottom:1px solid #ecf0f1;
}

form.chat ::-webkit-scrollbar {width: 3px; height:1px;transition:all .5s;z-index:10;}
form.chat ::-webkit-scrollbar-track {background-color: white;}
form.chat ::-webkit-scrollbar-thumb {
  background-color: #bec4c8; 
  border-radius:3px;
}

form.chat .message{
  display:block;
  width:98%;
  padding:0.5%;
}

form.chat .message p{
  margin:0;
}

form.chat .myMessage,
form.chat .fromThem {
  max-width: 50%;
  word-wrap: break-word;
  margin-bottom: 20px;
}

form.chat .message:hover .myMessage{
  -webkit-transform: translateX(-130px);
  transform: translateX(-130px);
}

form.chat .message:hover .fromThem{
  -webkit-transform: translateX(130px);
  transform: translateX(130px);
}

form.chat .message:hover date {
  opacity: 1;
}

form.chat .myMessage,.fromThem{
  position: relative;
  padding: 10px 20px;
  color: white;
  border-radius: 25px;
  clear: both;
  font: 400 15px 'Open Sans', sans-serif;
}

form.chat .myMessage {
  background: #2095FE;
  color:white;
  float:right;
  clear:both;
  border-bottom-right-radius: 20px 0px\9;
}

form.chat .myMessage:before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -2px;
  right: -8px;
  height: 19px;
  border-right: 20px solid #2095FE;
  border-bottom-left-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
  transform: translate(0, -2px);
  border-bottom-left-radius: 15px 0px\9;
  transform: translate(-1px, -2px)\9;
}

form.chat .myMessage:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -2px;
  right: -42px;
  width: 12px;
  height: 20px;
  background: white;
  border-bottom-left-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
  transform: translate(-30px, -2px);
}

form.chat .fromThem {
  background: #E5E5EA;
  color: black;
  float: left;
  clear:both;
  border-bottom-left-radius: 30px 0px\9;
}
form.chat .fromThem:before {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: -2px;
  left: -7px;
  height: 19px;
  border-left: 20px solid #E5E5EA;
  border-bottom-right-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
  transform: translate(0, -2px);
  border-bottom-right-radius: 15px 0px\9;
  transform: translate(-1px, -2px)\9;
}

form.chat .fromThem:after {
  content: "";
  position: absolute;
  z-index: 3;
  bottom: -2px;
  left: 4px;
  width: 26px;
  height: 20px;
  background: white;
  border-bottom-right-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
  transform: translate(-30px, -2px);
}

form.chat date {
  position:absolute;
  top: 10px;
  font-size:14px;
  white-space:nowrap;
  vertical-align:middle;
  color: #8b8b90;
  opacity: 0;
  z-index:4;
}

form.chat .myMessage date {
  left: 105%;
}

form.chat .fromThem date {
  right: 105%;
}

form.chat input{
  font: 400 13px 'Open Sans', sans-serif;
  border:0;
  padding:0 15px;
  height:10%;
  outline:0;
}

form.chat input[type='text']{
  width:73%;
  float:left;
}

form.chat input[type='submit']{
  width:23%;
  background:transparent;
  color:#2095FE;
  font-weight:700;
  text-align:right;
  float:right;
}

  form.chat .myMessage,form.chat .fromThem{
    font-size:12px;
  }
  
  form.chat .message:hover .myMessage{
    transform: translateY(18px);
    -webkit-transform: translateY(18px);
  }

  form.chat .message:hover .fromThem{
    transform: translateY(18px);
    -webkit-transform: translateY(18px);
  }
  
  form.chat .myMessage date,form.chat .fromThem date {
    top: -20px;
    left:auto;
    right:0;
    font-size:12px;
  }
  
  form.chat .myMessage,
  form.chat .fromThem {
    max-width: 90%;
  }
  
@-moz-keyframes loading-bar {
  0% {
    width: 0%;
  }
  90% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes loading-bar {
  0% {
    width: 0%;
  }
  90% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}

@keyframes loading-bar {
  0% {
    width: 0%;
  }
  90% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}

/* DEMO */
.iphone{
  width:350px;
  height:700px;
  background-image:url('../images/iphone6.png');
  background-size:100% 100%;
  margin:0 auto;
  position:relative;
}

.border{
	position:absolute;
	top:12.3%;right:7%;left:7%;bottom:12%;
	overflow:hidden;
}

a.article{
  position:fixed;
  bottom:15px;left:15px;
  display:table;
  text-decoration:none;
  color:white;
  background-color:#00e34d;
  padding: 10px 20px;
  border-radius: 25px;
  font: 400 15px 'Open Sans', sans-serif;
}

.messagebutton {
    background-color:#2095FE;
    color: white;
    font-size: 13px;
    align-items: center;
    border-color: black;
    border-radius: 20px 20px 20px 20px;
    border: 0px;
    margin: 0 5px 10px;
    padding: 10px 15px;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

/* =============================================================
   MESSAGE BOX (OLD)
 ============================================================ */

/*.infoheader{
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #7eb9f8;
    border: 2px solid black;
    border-bottom: none;
}

#infofooter {
    border: 2px solid black;
    border-top: none;
    text-align:center;
    padding-top: 10px;
}

.messages-wrapper {
  position: relative;
  border: 2px solid black;
  border-top: none;
  border-bottom: none;
  height: 720px;
  overflow: auto;
    
}
.message {
    border-radius: 20px 20px 20px 20px;
    margin: 0 15px 25px;
    padding: 15px 20px;
    position: relative;
}
.message.to {
    background-color: #2095FE;
    color: #fff;
    margin-left: 80px;
    animation-duration: 1s;
}

.message.from {
    background-color: #E5E4E9;
    color: #363636;
    margin-right: 80px;
    animation-duration: 1s;
}
.message.to + .message.to,
.message.from + .message.from {
  margin-top: -7px;
}*/
/* .message:before {
    border-color: #2095FE;
    border-radius: 50% 50% 50% 50%;
    border-style: solid;
    border-width: 0 20px;
    bottom: 0;
    clip: rect(20px, 15px, 42px, 0px);
    content: " ";
    height: 40px;
    position: absolute;
    right: -40 px;
    width: 30px;
    z-index: -1;
} */
/*.message.from:before {
    border-color: #E5E4E9;
    left: -50px;
    transform: rotateY(180deg);
}*/






/*========================================
    NAV BAR
    ======================================*/
.navbar-inverse .navbar-nav > li > a {
color: #000;
}
.navbar-inverse {
background-color: white;
border-color: #7eb9f8;
font-size: 25px;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
color: #000000;
background-color: transparent;
}
.navbar-inverse .navbar-brand {
color: #000;
font-size: 27px;
font-family: 'Gloria Hallelujah', cursive;
font-weight: 900;
padding-top:1px;
}
.navbar-inverse:hover .navbar-brand:hover {
color: #000;
}
.navbar-toggle {
    background-color: black;
}
/*CHANGING COLOR  SCROLLSPY ON LINK ACTIVE  */
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
color: #fff;
background-color: #7eb9f8;
}
/*========================================
    HOME SECTION
    ======================================*/

.regtext {
font-family: 'Comfortaa', cursive;
}

.forumtitle{
height: 40px;
z-index: 4;
padding-top: 10px;
text-align: center;
background: #00C9FF ;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #92FE9D , #00C9FF );  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #92FE9D , #00C9FF ); 
}

/*Background Gradient*/
.homebackground {
min-height:1100px;
background: #E55D87;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #5FC3E4, #E55D87);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #5FC3E4, #E55D87); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.aboutbackground {
min-height: 1100px;
background: #00C9FF ;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #92FE9D , #00C9FF );  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #92FE9D , #00C9FF ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#aboutsplash {
  padding-bottom: 100px;
}

.featurebackground {
background: #FEAC5E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.registerbackground {
background: #1CD8D2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #93EDC7, #1CD8D2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #93EDC7, #1CD8D2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
min-height: 1000px;
}

#newsmeup {
background: #fc00ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#jointhediscussion {
background: #fc00ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.searchbackground{
background: #fc00ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
min-height: 1100px;
}

.adminbackground{
background: #EB3349;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F45C43, #EB3349);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F45C43, #EB3349); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
min-height: 1100px;
}

.loginbackground {
background: #77A1D3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E684AE, #79CBCA, #77A1D3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E684AE, #79CBCA, #77A1D3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
min-height: 1100px;
}


    #home h1,#home h3 {
        color:#fff;
        text-transform:uppercase;
    }
    #home a i {
        display:table;
        font-size:150px;
    
}
/*========================================
    ABOUT SECTION
    ======================================*/
#about {
background-color: #66B8F0;
color: #fff;
min-height:700px;
}
.panel > .panel-heading {
position: relative;
padding: 15px;
}
.panel-title > a.collapsed:after {
content: '+';
position: absolute;
right: 24px;
}

.panel-title > a:after {
 content: '-';
position: absolute;
right: 24px;

}
.panel {
color:#000;
}



 /*========================================
    PORTFOLIO SECTION
    ======================================*/
 

#portfolio {
    z-index: 2;
    
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}


.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.modal-body span {
    cursor:pointer;
    color:#66B8F0;
}
/*========================================
    CONTACT SECTION
    ======================================*/
#contact {
    min-height:600px;
    }
#contact .form-control {
    height:60px;
}
.cnt {
width: 100%;
min-height: 350px;
border: 1px solid #e1e1e1;
}
.add {
font-size:20px;
padding:20px;
}
/*========================================
    FOOTER SECTION
    ======================================*/
#footer {

background-color:#7eb9f8;
color: #fff;
padding: 20px 50px 20px 50px;
text-align: right;
border-top: 1px solid #7eb9f8;
background: #FF5F6D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/*========================================
    CLIENT SECTION
    ======================================*/

#clientsLogo {
  background: #ddd;
}

.client_heading_text {
  padding: 70px 0px;
  text-align: center;
  margin-left: -20px;
}

.client_heading_text a{
  margin-right: 20px;
  margin-bottom: 30px;
  overflow: hidden;
  display: inline-block;
}


/*========================================
    ABOUT SECTION
    ======================================*/

  .h1about {
    font-size: 3.5rem;
    line-height: 50px;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
  }

  #aboutfront {
    background: #00C9FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

  .aboutbtn {
    border: 1px solid #fff;
    border-radius: 50px;
    display: inline-block;
    min-width: 214px;
    padding: .9ex;
    padding-top: 13px;
    height: 50px;
    text-align: center;
    color: #fff;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 5px;
    font-size: 16px;
    font-weight: 300;
    transition: .5s;
    margin-bottom: 10px;
    font-family: 'Comfortaa', cursive;
  }
  
  .aboutbtn:hover {
    background-color: #e0356e;
    color: #fff;
    text-decoration: none;
  }

  .white-btn {
    max-width: 250px;
    max-height: 50px;
    border-radius: 50px;
    background: #fff;
    color: #585b60;
  }

  .bannerDescription {
    color: #fff;
    font-size: 1.8rem;
    margin-bottom: 65px;
    line-height: 30px;
    font-family: 'Questrial', sans-serif;
  }

  /*Description section  */

  #description{}
  .main_description {
    padding: 100px 0px;
    font-family: 'Questrial', sans-serif;

  }

  #description{
    background-color: #fff;
    background-size: cover;
  }

  .descpoints {
    font-family: 'Comfortaa', cursive;
  }

  #descsummary {
    line-height: 30px;
  }

  .right_desc_bottom_text {
    margin-top: 50px;
  }
 
  .right_single_bottom_text {
    margin-bottom: 25px;
    overflow: hidden;
  }

  .right_single_bottom_text i {
    font-size: 35px;
    color: #FF3366;
    float: left;
    width: 35px;
  }

  .right_bottom_description{
    padding-left: 10px;
    overflow: hidden;
  }

/*Pricing Section  */

.pricing_heading_text{
  padding:60px 0px;
  text-align: center;
}
.main_pricing_table{
	padding-bottom:100px;
	overflow:hidden;
}
.single_pricing{
	border:1px solid #ddd;
	transition:.5s;
	margin-bottom:30px;
}
.economy_table{
	border:1px solid #FF3366;
	position:relative;
}
.economy_table:after{
	content:"Popular";
	right:0;
	top:40px;
	background:#FF3366;
	color:#fff;
	position:absolute;
	padding:3px 10px;
	border-radius:5px 0px 0px 5px;
	
}

.top_text{
    background: #F7F8FA;
	padding: 1px 16px 10px 15px;
}
.single_pricing ul li{
	padding:15px 20px;
}
.single_pricing ul li img{
	padding-right:7px;
}

.table_info{
    padding: 25px 0px 30px 15px;
	width:100%;	
}
.info_head_text{
	color:#585b60;
	font-size:50px;
}
.info_head_text sub{
	color:#585b60;
	font-size:25px;
}
.info_head_text span{
	color:#9da6ac;
	font-size:25px;
}

a.info_right_text{
	margin-left:35px;
	color:#9da6ac;
}

.fa.fa-check {
color: #23e758;
padding-right: 20px;
}

.fa.fa-times {
padding-right: 20px;
color: #EE436E;
}


/*========================================
    PROFILE SECTION
    ======================================*/


    @import url(https://fonts.googleapis.com/css?family=BenchNine:700);
.snip1535 {
  background-color: #1CD8D2;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'BenchNine', Arial, sans-serif;
  font-size: 1em;
  font-size: 22px;
  line-height: 1em;
  margin: 15px 40px;
  outline: none;
  padding: 12px 40px 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
}
.snip1535:before,
.snip1535:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}
.snip1535:before {
  border-color:#1CD8D2;
  border-right-width: 2px;
  border-top-width: 2px;
  right: -5px;
  top: -5px;
}
.snip1535:after {
  border-bottom-width: 2px;
  border-color: #1CD8D2;
  border-left-width: 2px;
  bottom: -5px;
  left: -5px;
}
.snip1535:hover,
.snip1535.hover {
  background-color: #1CD8D2;
}
.snip1535:hover:before,
.snip1535.hover:before,
.snip1535:hover:after,
.snip1535.hover:after {
  height: 100%;
  width: 100%;
}



/*
#93EDC7, #1CD8D2*/


#snip1536 {
  text-align: center;
}

.snip1536 {
  background-color: #E55D87;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'BenchNine', Arial, sans-serif;
  font-size: 1em;
  font-size: 22px;  
  line-height: 1em;
  margin: 15px 40px;
  outline: none;
  padding: 12px 40px 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
}
.snip1536:before,
.snip1536:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}
.snip1536:before {
  border-color:#E55D87;
  border-right-width: 2px;
  border-top-width: 2px;
  right: -5px;
  top: -5px;
}
.snip1536:after {
  border-bottom-width: 2px;
  border-color: #E55D87;
  border-left-width: 2px;
  bottom: -5px;
  left: -5px;
}
.snip1536:hover,
.snip1536.hover {
  background-color: #E55D87;
}
.snip1536:hover:before,
.snip1536.hover:before,
.snip1536:hover:after,
.snip1536.hover:after {
  height: 100%;
  width: 100%;
}

