 <section class="homebackground">
    
            <div class="row pad-top">
                <div class="col-md-12 pad-top-more">





<div class="iphone">
  <div class="border">
    <form class="chat">
      <span></span>

      <!--<div class="forumtitle">Ubi Western Union Robbery Forum</div>-->
      <div class="messages" id="adobewordpress">


           <div class="message">
          <div class="fromThem">
            <p>That robber deserves to be arrested</p>
            <date><b>Vatanay</b> 08.03.2016 14:31:22</date>
          </div>
        </div>
        <div class="message">
          <div class="myMessage">
            <p>Can't believe someone attempted to rob a petrol station. In Singapore!</p>
            <date><b>John Doe</b> 08.03.2016 14:30:7</date>
          </div>
        </div>
        <div class="message">
          <div class="fromThem">
            <p>Thankful for the Singapore Police Force's quick thinking and agile response to be able to apprehend the criminal so quickly. This is why we always hear the saying that Singapore is one of the safest country on the planet.</p>
            <date><b>Vatanay</b> 08.03.2016 14:31:22</date>
          </div>
        </div>
         <div class="message">
          <div class="fromThem">
            <p>Walao eh, what was the guy thinking sia?</p>
            <date><b>Vatanay</b> 08.03.2016 14:31:22</date>
          </div>
        </div>
        <div class="message">
          <div class="myMessage">
            <p>Just realised this happened at the petrol station next to my house!</p>
            <date><b>John Doe</b> 08.03.2016 14:30:7</date>
          </div>
        </div>
        <div class="message">
          <div class="fromThem">
            <p>He must have been pretty desperate to try something like that. Robbery is such an unheard of thing in Singapore.</p>
            <date><b>Vatanay</b> 08.03.2016 14:31:22</date>
          </div>
        </div>
        <div class="message">
          <div class="fromThem">
            <p>I believe Singapore's justice system will dish out the appropriate punishment that will also serve as a stern warning to potential criminals that the Singapore legal system will not condone such radical crimes.</p>
            <date><b>{{user.name_first}}</b> 08.03.2016 14:37:12</date>
          </div>
        </div>
      </div>



      <input ng-if="ctrl.user" type="text" placeholder="Your message">
      <input ng-if="ctrl.user" type="submit" value="Send">
    

      
      <input ng-if="!ctrl.user" type="text" placeholder="Register or Login to comment" disabled>
      <input ng-if="!ctrl.user" type="submit" value="Send" disabled>
      

    </form>
  </div>
</div>

<script>
function scrollDown() {
  var focusBottom = document.getElementById("adobewordpress");
  focusBottom.scrollTop = focusBottom.scrollHeight;
}

$("input").keypress(function(event) {
  if (event.which == 13) {
    event.preventDefault();
    $('form.chat input[type="submit"]').click();
  }
});
$('form.chat input[type="submit"]').click(function(event) {
  event.preventDefault();
  var message = $('form.chat input[type="text"]').val();
  if ($('form.chat input[type="text"]').val()) {
    var d = new Date();
    var clock = d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();
    var month = d.getMonth() + 1;
    var day = d.getDate();
    var currentDate =
      (('' + day).length < 2 ? '0' : '') + day + '.' +
      (('' + month).length < 2 ? '0' : '') + month + '.' +
      d.getFullYear() + '&nbsp;&nbsp;' + clock;
    $('form.chat div.messages').append('<div class="message"><div class="myMessage"><p>' + message + '</p><date>' + currentDate + '</date></div></div>');
    setTimeout(function() {
      $('form.chat > span').addClass('spinner');
    }, 100);
    setTimeout(function() {
      $('form.chat > span').removeClass('spinner');
    }, 2000);
  }
  $('form.chat input[type="text"]').val('');
  scrollDown();
});

/* DEMO */
if(parent==top) {
  $('a.article').show();
}

</script>



  </div>

            </div>
    
    </section>