 <section class="adminbackground">
    
            <div class="row pad-top">
                <div class="col-md-12 pad-top-more">





<div class="container" ng-controller="EditCtrl as ctrl">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>User Management System
                    <small>Edit User Details</small>
                </h1>
            </div>
            <br/>

            <form name="queryForm" novalidate class="form-inline">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input id="username" class="form-control" type="text" name="username" placeholder="Enter username" ng-model="ctrl.username"
                        ng-change="ctrl.initDetails()" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid" ng-click="ctrl.search()">
                Search
            </button>
                </div>
            </form>

            <hr>
            <table class="table table-striped" ng-show="ctrl.showDetails">
                <thead>
                    <tr>
                        <th>User Attributes</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Username</td>
                        <td>
                            {{ ctrl.result.username }}
                        </td>
                    </tr>
                    <tr>
                        <td>First Name</td>


                        <td>
                            <div ng-hide="ctrl.isEditorOn">
                                {{ ctrl.result.name_first}}
                                <button type="button" class="btn btn-link btn-sm" ng-click="ctrl.toggleEditor()">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>

                            </div>
                            <div ng-show="ctrl.isEditorOn">
                                <div class="input-group">
                                    <input type="text" class="form-control" size="1" ng-model="ctrl.result.name_first">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-success" ng-click="ctrl.updateDetails()">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </button>
                                        <button type="button" class="btn btn-danger" ng-click="ctrl.toggleEditor()">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                                    </div>
                                </div>
                            </div>
                        </td>




                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td>
                            <div ng-hide="ctrl.isEditorOn">
                                {{ ctrl.result.name_last}}
                                <button type="button" class="btn btn-link btn-sm" ng-click="ctrl.toggleEditor()">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>

                            </div>
                            <div ng-show="ctrl.isEditorOn">
                                <div class="input-group">
                                    <input type="text" class="form-control" size="1" ng-model="ctrl.result.name_last">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-success" ng-click="ctrl.updateDetails()">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </button>
                                        <button type="button" class="btn btn-danger" ng-click="ctrl.toggleEditor()">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

        <span ng-show="ctrl.showManager">
                 <!-- Handles display of departments that have not been assigned any manager -->
                {{ dept.managers[0] ? dept.managers[0].emp_no : " "}}
            </span>

        <span ng-show="ctrl.showManager">
                 <!-- Handles display of departments that have not been assigned any manager -->
                {{ dept.managers[0]
                ? (dept.managers[0].employee.first_name + " " + dept.managers[0].employee.last_name)
                : " "}}
            </span>
    </div>
</div>


  </div>

            </div>
    
    </section>