<section class="homebackground">

  <div class="row pad-top">
    <div class="col-md-12 pad-top-more">



      <div class="iphone animated bounceInLeft">
        <div class="border" id="borderid">
          <form class="chat" ng-animate="no-animate">
            <span></span>
            <div class="messages" id="adobewordpress">

              <div class="message" style="padding-top: 15px;">
                <div ng-if="ctrl.user" class="fromThem animated slideInUp" style="animation-delay: 0.5s;">
                  <p>{{greeting}}</p>
                  <date id="greetingtime">
                    <script>
                      var d = new Date();
                      var clock = d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();
                      var month = d.getMonth() + 1;
                      var day = d.getDate();
                      var currentDate =
                        (('' + day).length < 2 ? '0' : '') + day + '.' +
                        (('' + month).length < 2 ? '0' : '') + month + '.' +
                        d.getFullYear() + "  " + clock;

                      document.getElementById("greetingtime").innerHTML = currentDate;
                    </script>
                  </date>
                </div>

                <div ng-if="!ctrl.user" class="fromThem animated slideInUp" style="animation-delay: 0.5s;">
                  <p>Welcome to Qews! Here's what we have in store for you today ...</p>
                  <date id="greetingtime">
                    <script>
                      var d = new Date();
                      var clock = d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();
                      var month = d.getMonth() + 1;
                      var day = d.getDate();
                      var currentDate =
                        (('' + day).length < 2 ? '0' : '') + day + '.' +
                        (('' + month).length < 2 ? '0' : '') + month + '.' +
                        d.getFullYear() + "  " + clock;

                      document.getElementById("greetingtime").innerHTML = currentDate;
                    </script>
                  </date>
                </div>
              </div>




               <div ng-repeat="(key, value) in ctrl.newsout">
              <div class="message">
                  <div class="myMessage animated slideInUp">
                    <p>{{value.moretext}}</p>
                    <!--<p>{{value}}</p>-->
                    <!--<p>{{ctrl.moretextgenerator()}}</p>-->
                    <date id="timeto">
                      <script>
                        var d = new Date();
                        var clock = d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();
                        var month = d.getMonth() + 1;
                        var day = d.getDate();
                        var currentDate =
                          (('' + day).length < 2 ? '0' : '') + day + '.' +
                          (('' + month).length < 2 ? '0' : '') + month + '.' +
                          d.getFullYear() + "  " + clock;

                        document.getElementById("timeto").innerHTML = currentDate;
                      </script>
                    </date>
                  </div>
                </div>

             
                <div class="message">
                  <div class="fromThem animated slideInUp">
                    <a href="{{value.article.link}}" target="_blank">
                      <p>{{value.article.title}}</p>
                    </a>
                    <date id="timefrom">
                      <script>
                        var d = new Date();
                        var clock = d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();
                        var month = d.getMonth() + 1;
                        var day = d.getDate();
                        var currentDate =
                          (('' + day).length < 2 ? '0' : '') + day + '.' +
                          (('' + month).length < 2 ? '0' : '') + month + '.' +
                          d.getFullYear() + "  " + clock;

                        document.getElementById("timefrom").innerHTML = currentDate;
                      </script>
                    </date>
                  </div>
                </div>


                <div class="message">
                  <div class="fromThem animated slideInUp">
                    <p>{{value.article.description}}}</p>
                    <date id="timeto">
                      <script>
                        var d = new Date();
                        var clock = d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();
                        var month = d.getMonth() + 1;
                        var day = d.getDate();
                        var currentDate =
                          (('' + day).length < 2 ? '0' : '') + day + '.' +
                          (('' + month).length < 2 ? '0' : '') + month + '.' +
                          d.getFullYear() + "  " + clock;

                        document.getElementById("timeto").innerHTML = currentDate;
                      </script>
                    </date>
                  </div>
                </div>
                
                <!--Meme portion-->

                <!--<div class="message">
                  <div class="myMessage animated slideInUp">
                    <img src="../assets/images/meme2.jpg" style="width: 150px; height: 130px;">
                   
                  </div>
                </div>-->



              </div>

            </div>
            <div style="text-align: center; padding-top:9px;" id="bottomPart">
              <button ui-sref="forum" class="messagebutton" id="jointhediscussion"> Join the discussion
        </button>
              <button ng-click="ctrl.shootnews()" class="messagebutton" id="newsmeup"> News me up!
        </button>
            </div>
          </form>
        </div>







      </div>
      <!--end of iphone-->


    </div>

  </div>

</section>

    <!--As Seen On Section  -->
    <section id="clientsLogo">
        <div class="container">
            <div class="row">
                <div class="client_heading_text center-content wow zoomIn" data-wow-duration="1.5s">
                    <h1 id="asseenon" style="color: #414e4e;">As Seen On</h1>

                    <a href=""><img src="/app/about/images/c1.png" alt="" /></a>
                    <a href=""><img src="/app/about/images/c2.png" alt="" /></a>
                    <a href=""><img src="/app/about/images/c3.png" alt="" /></a>
                    <a href=""><img src="/app/about/images/c4.png" alt="" /></a>
                    <a href=""><img src="/app/about/images/c5.png" alt="" /></a>
                </div>
            </div>
        </div>
    </section>