 <section class="aboutbackground">
    
            <div class="row pad-top">
                <div class="col-md-12 pad-top-more">



<div class="container" id="aboutsplash">
    <div class="row" >
        <div class="col-sm-5 col-xs-12">
            <div class="iphoneabout center-content animated fadeInLeft">
                <img src="/app/about/images/iphone2.png" />
            </div>
        </div>

        <div class="col-sm-7 col-xs-12 heading-text">
            <div class="single_home_content animated fadeInRight">
                <h1 class="h1about">The Only News App You'll Need</h1>
                <p class="bannerDescription">Yes you heard right. We used the "O" word.</p>
                <div class="button" style="text-align: center;">
                    <a href="" class="aboutbtn white-btn">Download App </a>
                </div>
            </div>
        </div>
    </div>
</div>


<section id="description">
    <div class="container">
        <div class="row main_description">
            <div class="col-sm-6 col-xs-12">
                <div class="left_desc_img center-content wow fadeInLeft" data-wow-duration="1.5s">
                    <img src="/app/about/images/iphone3.png" alt="" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="right_desc_text top-margin wow fadeIn" data-wow-duration="1.5s">
                    <h1>Description First Layout</h1>
                    <h4 id="descsummary">News and fun never really fit into the same sentence. That is, until now. Qews is the first interactive news platform that dispenses out 1-liner summaries of local Singaporean news to readers. Because we know that your eyes are too precious to skim through irrelevant news articles.</h4>

                    <div class="right_desc_bottom_text">
                        <div class="right_single_bottom_text">
                            <i class="fa fa-hand-o-right"></i>
                            <div class="right_bottom_description">
                                <h4 class="descpoints">Interactive</h6>
                                <p>Unlike the front page of the news paper, we promise not to blow you away with words. If the 1-liner summary doesn't captivate you, NEXT!</p>
                            </div>
                        </div>

                        <div class="right_single_bottom_text">
                            <i class="fa fa-comments-o" aria-hidden="true"></i>
                            <div class="right_bottom_description">
                                <h4 class="descpoints">See what others are thinking</h6>
                                <p>Enter the Q-orum, an opinion forum where users are free to post their reaction and thoughts to a particular news article.</p>
                            </div>
                        </div>

                        <div class="right_single_bottom_text">
                            <i class="fa fa-cloud-upload"></i>
                            <div class="right_bottom_description">
                                <h4 class="descpoints">Less is always more</h6>
                                <p>Because who really remembers all 43 articles they scanned through the newspaper earlier this
                                    morning while on their way to work?</p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


 






<!--Pricing Section  -->
<section id="pricing" class="featurebackground">
    <div class="container">
        <div class="row">
            <div class="pricing_heading_text center-content">
                <h1 class="regtext">Features</h1>
            </div>

            <div class="main_pricing_table">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="single_pricing wow fadeIn" data-wow-duration="1.5s">
                        <div class="top_text">
                            <h4><b>Visitor</b></h4>
                            </br>
                            <p>Did someone say free app?</p>

                            <p>Believe us, we too hate the person behind the computer flooding our mail boxes with emails we will never open. </p>
                                
                            <p>We're not like the others. We promise. So go on, click on that register button. Now.</p>
                        </div>
                        <ul>
                            </br>
                            </br>
                            </br>
                            <i class="fa fa-check fa-2x"></i>Stay up-to-date with the news
                            </br>
                            </br>
                            </br>
                            <i class="fa fa-check fa-2x"></i>View opinions posted by other registered users</li>
                            </br>
                            </br>
                            </br>
                            <i class="fa fa-times fa-2x"></i> Saves articles
                            </br>
                            </br>
                            </br>
                            <i class="fa fa-times fa-2x"></i>Post your own opinions and interact with other registered users
                            </br>
                            </br>
                            </br>
                        </ul>


                    </div>
                </div>
               <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="single_pricing wow fadeIn" data-wow-duration="1.5s">
                        <div class="top_text">
                            <h4><b>Registered User</b></h4>
                            </br>

                            <p>We have made the registration process as minimal as possible.</p>

                            <p>Believe us, we too hate the person behind the computer flooding our mail boxes with emails we will never open. </p>
                                
                            <p>We're not like the others. We promise. So go on, click on that register button. Now.</p>
                        </div>
                        <ul>
                            </br>
                            </br>
                            </br>
                            <i class="fa fa-check fa-2x"></i>Stay up-to-date with the news
                            </br>
                            </br>
                            </br>
                            <i class="fa fa-check fa-2x"></i>View opinions posted by other registered users</li>
                            </br>
                            </br>
                            </br>
                            <i class="fa fa-check fa-2x"></i> Save articles
                            </br>
                            </br>
                            </br>
                            <i class="fa fa-check fa-2x"></i>Post your own opinions and interact with other registered users
                            </br>
                            </br>
                            </br>
                        </ul>


                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

   <!--CONTACT SECTION-->
   <section style="background-color: lightblue;">
    <section id="contact">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1>CONTACT HERE</h1>
                </div>
            </div>
            <div class="row text-center pad-top">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row ">
                        <form>
                            <div class="col-md-12 ">
                                <div class="form-group">
                                    <input type="text" class="form-control" required="required" placeholder="Name" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" required="required" placeholder="Email address" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" required="required" placeholder="Notes" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary btn-lg">SUBMIT REQUEST</button>

                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>
</section>



  </div>

            </div>
    
    </section>