<div class="navbar navbar-inverse navbar-fixed-top scrollclass">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
			<a class="navbar-brand" href="#">qews<img src="../../assets/images/nyancat.png" id="nyancat"></a>
		</div>
		<div class="navbar-collapse collapse" style="font-family: 'Gloria Hallelujah', cursive;">
			<ul class="nav navbar-nav navbar-right">
				<li><a class="navselect" ui-sref="about" class="call-to-action">About</a></li>
				<li><a class="navselect" ng-if="!ctrl.user" ui-sref="signIn" ui-sref-active="active">Login</a></li>
				<li><a class="navselect" ng-if="!ctrl.user" ui-sref="signUp" class="call-to-action">Sign Up</a></li>
				<li><a class="navselect" ng-if="ctrl.user.admin" ui-sref="admin" class="call-to-action2">User Search</a></li>
				<li><a class="navselect" ng-if="ctrl.user.admin" ui-sref="edit" class="call-to-action2">Edit Profiles</a></li>
				<li><a class="navselect" ng-if="ctrl.user" ui-sref="profile" class="call-to-action2">My Profile</a></li>
				<li><a class="navselect" ng-if="ctrl.user" href="/logout" ui-sref-active="active" class="call-to-action2">Logout</a></li>
				<!-- <li><a href="#home">HOME</a></li> -->
				<!-- <li><a href="#portfolio">PORTFOLIO</a></li>
                    <li><a href="#about">ABOUT</a></li> -->
				<!-- <li><a href="#contact">CONTACT</a></li> -->
			</ul>
		</div>

	</div>
</div>